.lkgeimg{height: 70px;width: 70px;}
.lkgetext{font-size: 35px;width: 300px;margin: 0px;}
.lkgediv{width: 500px;}
.flex {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        /*修改以下值試試看 row | row-reverse | column | column-reverse;*/
        flex-direction: row;
        justify-content:center;
        }
.flexitem {
    display: flex;
    justify-content: center;
    align-items: center;
    }
.hr1{height: 2px;border:none;color:#333;background-color:#333;width: 1000px;}
.name{text-align: center;font-size: 60px;margin: 0px;}
.dongimg{height: 100px;width: 100px;}
.namediv{width: auto;margin-left: auto;margin-right: auto;}
.dongdiv{background-color: rgba(143, 238, 99, 0.507);width: 600px;height: 300px;margin-left: auto;margin-right: auto;}
.namea{vertical-align:super;font-size: 20px;}
a{text-decoration:none;color: #333;}
.tt{text-align: center;}